.pos-abs-center {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.trans {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.rel {
    position: relative;
}
.abs {
    position: absolute;
}
.fl {
    float: left;
}
.fr {
    float: left;
}
.clear:after {
    content: "";
    display: block;
    overflow: hidden;
    clear: both;
    height: 0;
}
.flex {
    -webkit-display: flex;
    -moz-display: flex;
    -ms-display: flex;
    display: flex;
}